.why__us {
    width: 1040px;
    height: 453px;
    margin: auto;
    margin-top: 67px;
}

.why-us_rectangle {
    max-width: 1040px;
    height: 453px;
    margin: auto;
    background-image: url(../img/plane.jpg);
}

.greenzone {
    max-width: 769px;
    height: 453.5px;
    background-color: #0B7572;
}

.greenzone>h3 {
    color: #FFF;
    font-family: Exo 2;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    padding-left: 90px;
    padding-top: 100px;
}