* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    height: 2000px;
    margin: 0 auto;
}


@import "header";

@import "bottom";

@import "Почему";

@import "Почему_bottom";

@import "Работа";